@charset "utf-8";

// 変数の定義
$max-width: 440px;

$base: #FFF;

$text: #776464;

$bg-about: #FFF4E9;



//SOLINOA
$bg-SOLINOA: #F6E9D4;
$border-SOLINOA: #DDCDD6;
$text-SOLINOA: #C3AB92;
$a-SOLINOA: #A67962;


//Lulino
$bg-Lulino: #FAEDF4;


//　フォントの設定
$font-title: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-text: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Hiragino Sans", Meiryo, sans-serif;

$font-brand: "Julius Sans One", sans-serif;
$font-icon:  "M PLUS 2", sans-serif;